<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel, ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments::head(~{::title})">
  <title>博客管理</title>
</head>

<style>
  @media screen and (min-height: 890px) {
    footer { /* Increased specificity for SO snippet priority */
      position: absolute !important;
      bottom: 0 !important;
      width: 100% !important;
    }
  }
</style>

<body>
  
  <!-- 导航 -->
  <th:block th:replace="admin/_fragments::menu(1)"></th:block>
  
  <!-- 二级导航 -->
  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a class="item" href="#" th:href="@{/admin/blogs/add}">新增</a>
        <a class="teal active item" href="#" th:href="@{/admin/blogs}">列表</a>
      </div>
    </div>
  </div>
  
  <!-- 中间内容 -->
  <div class="m-padded-tb-big m-container">
    <div class="ui container">
      
      <!-- 搜索要求 -->
      <div class="ui segment form">
        <input name="page" type="hidden">
        <div class="inline fields">
          <div class="field">
            <input type="text" name="title" placeholder="标题">
          </div>
          
          <div class="field">
            <div class="ui labeled action input">
              <div class="ui type selection dropdown">
                <input name="type-id" type="hidden">
                <i class="dropdown icon"></i>
                <div class="default text">分类</div>
                <div class="menu">
                  <!-- 可选的分类列表 -->
                  <div class="item" th:data-value="${type.id}" th:each="type: ${types}" th:text="${type.name}">错误日志
                  </div>
                </div>
              </div>
              <button class="ui compact button" id="clear-btn">Clear</button>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="recommend" name="recommend">
              <label for="recommend">推荐</label>
            </div>
          </div>
          
          <div class="field">
            <button class="ui mini teal basic button" id="search-btn" type="button">
              <i class="search icon"></i>搜索
            </button>
          </div>
        </div>
      </div>
      
      <!-- 博客列表 -->
      <div id="table-container">
        <table class="ui compact teal table" th:fragment="blogList">
          <thead>
            <tr>
              <th></th>
              <th>标题</th>
              <th>类型</th>
              <th>推荐</th>
              <th>发布</th>
              <th>更新时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="blog, iterStat: ${page.content}">
              <td th:text="${iterStat.count}">1</td>
              <td th:text="${blog.title}">刻意练习清单</td>
              <td th:text="${blog.type.name}">认知升级</td>
              <td th:text="${blog.recommend} ? '✅' : '❌'">✅</td>
              <td th:text="${blog.published} ? '✅' : '❌'">✅</td>
              <td th:text="${blog.updateTime}">2023-05-22 22:54</td>
              <td>
                <a class="ui mini teal basic button" th:href="@{/admin/blogs/{id}/update(id=${blog.id})}">编辑</a>
                <a class="ui mini red basic button" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}">删除</a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="7">
                <a class="ui mini teal basic button" th:href="@{/admin/blogs/add}">新增</a>
                <div class="ui mini right floated pagination menu" th:if="${page.totalPages > 1}">
                  <a class="item button" onclick="page(this)" th:attr="data-page=${page.number - 1}"
                     th:unless="${page.first}">上一页</a>
                  <a class="item button" onclick="page(this)" th:attr="data-page=${page.number + 1}"
                     th:unless="${page.last}">下一页</a>
                </div>
              </th>
            </tr>
          </tfoot>
        </table>
        
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
          <i class="close icon"></i>
          <div class="header">提示：</div>
          <p th:text="${message}">恭喜，操作成功！</p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- 底部 footer -->
  <th:block th:replace="admin/_fragments::footer"></th:block>
  
  <!-- JS 依赖-->
  <th:block th:replace="admin/_fragments::scripts"></th:block>
  
  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide')
    })
    
    $('.ui.dropdown').dropdown({
      on: 'hover'
    })
    
    // 消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
          $(this)
              .closest('.message')
              .transition('fade')
        })
    
    // 点击 Clear 按钮，清除分类
    $('#clear-btn')
        .on('click', function () {
          $('.ui.type.dropdown')
              .dropdown('clear')
        })
    
    // 翻页
    function page(obj) {
      // 先翻页，改变页码，再调 loadData() 获取新的页码
      // 新页码为 data-page=${page.number - 1} 中指定的值
      $("[name='page']").val($(obj).data("page"))
      loadData()
    }
    
    // 搜索
    $('#search-btn').click(function () {
      $("[name='page']").val(0) // 搜索从第一页开始
      loadData()
    })
    
    /**
     * 异步加载数据，实现页面局部的刷新
     */
    function loadData() {
      $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search", {
        title: $("[name='title']").val(),
        typeId: $("[name='type-id']").val(),
        recommend: $("[name='recommend']").prop('checked'),
        page: $("[name='page']").val()
      })
    }
  </script>

</body>
</html>
