<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codicefun.blog.mapper.BlogMapper">

  <insert id="insert">
    INSERT INTO `blog` (`title`, `content`, `description`, `picture`, `user_id`, `type_id`, `viewed`, `liked`)
    VALUES (#{title}, #{content}, #{description}, #{picture}, #{userId}, #{typeId}, #{viewed}, #{liked})
  </insert>

  <select id="selectById" resultType="blog">
    SELECT *
    FROM `blog`
    WHERE `id` = #{id}
  </select>

  <select id="selectByTerms" resultType="blog">
    SELECT *
    FROM `blog`
    <where>
      <if test="title != null and title != ''">
        AND `title` = #{title}
      </if>
      <if test="content != null and content != ''">
        AND `content` = #{content}
      </if>
      <if test="description != null and description != ''">
        AND `description` = #{description}
      </if>
      <if test="picture != null and picture != ''">
        AND `picture` = #{picture}
      </if>
      <if test="userId != null">
        AND `user_id` = #{userId}
      </if>
      <if test="typeId != null">
        AND `type_id` = #{typeId}
      </if>
      <if test="viewed != null">
        AND `viewed` = #{viewed}
      </if>
      <if test="liked != null">
        AND `liked` = #{liked}
      </if>
    </where>
  </select>

  <update id="update">
    UPDATE `blog`
    <set>
      <if test="title != null and title != ''">
        `title` = #{title},
      </if>
      <if test="content != null and content != ''">
        `content` = #{content},
      </if>
      <if test="description != null and description != ''">
        `description` = #{description},
      </if>
      <if test="picture != null and picture != ''">
        `picture` = #{picture},
      </if>
      <if test="userId != null">
        `user_id` = #{userId},
      </if>
      <if test="typeId != null">
        `type_id` = #{typeId},
      </if>
      <if test="viewed != null">
        `viewed` = #{viewed},
      </if>
      <if test="liked != null">
        `liked` = #{liked},
      </if>
      `update_time` = CURRENT_TIMESTAMP
    </set>
    WHERE `id` = #{id}
  </update>

  <delete id="delete">
    DELETE
    FROM `blog`
    WHERE `id` = #{id}
  </delete>

</mapper>
