<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codicefun.blog.mapper.UserMapper">

  <insert id="insert">
    INSERT INTO `user` (`username`, `password`, `nickname`, `email`, `avatar`, `role`)
    VALUES (#{username}, #{password}, #{nickname}, #{email}, #{avatar}, #{role})
  </insert>

  <select id="selectById" resultType="user">
    SELECT *
    FROM `user`
    WHERE `id` = #{id}
  </select>

  <select id="selectByTerms" resultType="user">
    SELECT *
    FROM `user`
    <where>
      <if test="username != null and username != ''">
        AND `username` = #{username}
      </if>
      <if test="password != null and password != ''">
        AND `password` = #{password}
      </if>
      <if test="nickname != null and nickname != ''">
        AND `nickname` = #{nickname}
      </if>
      <if test="email != null and email != ''">
        AND `email` = #{email}
      </if>
      <if test="avatar != null and avatar != ''">
        AND `avatar` = #{avatar}
      </if>
      <if test="role != null and role != ''">
        AND `role` = #{role}
      </if>
    </where>
  </select>

  <update id="update">
    UPDATE `user`
    <set>
      <if test="username != null and username != ''">
        `username` = #{username},
      </if>
      <if test="password != null and password != ''">
        `password` = #{password},
      </if>
      <if test="nickname != null and nickname != ''">
        `nickname` = #{nickname},
      </if>
      <if test="email != null and email != ''">
        `email` = #{email},
      </if>
      <if test="avatar != null and avatar != ''">
        `avatar` = #{avatar},
      </if>
      <if test="role != null and role != ''">
        `role` = #{role},
      </if>
      `update_time` = CURRENT_TIMESTAMP
    </set>
    WHERE `id` = #{id}
  </update>

  <delete id="delete">
    DELETE
    FROM `user`
    WHERE `id` = #{id}
  </delete>

</mapper>
