<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head(~{::title})">
  <title>Unknown Error</title>
</head>

<style>
  @media (min-height: 746px) {
    footer { /* Increased specificity for SO snippet priority */
      position: absolute !important;
      bottom: 0 !important;
      width: 100% !important;
    }
  }
</style>

<body>

  <!-- 导航 -->
  <th:block th:replace="_fragments::menu(0)"></th:block>
  
  <!-- 错误信息 -->
  <div class="m-container m-padded-tb-massive">
    <div class="ui error message m-padded-tb-massive">
      <div class="ui container">
        <h2>Unknown Error</h2>
        <p>发现未知错误？</p>
        <div>
          <div th:utext="'&lt;!--'" th:remove="tag"></div>
          <div th:utext="'Failed Request URL: ' + ${url}" th:remove="tag"></div>
          <div th:utext="'Exception message: ' + ${exception.message}" th:remove="tag"></div>
          <ul th:remove="tag">
            <li th:each="st: ${exception.stackTrace}" th:remove="tag"><span th:utext="${st}" th:remove="tag"></span></li>
          </ul>
          <div th:utext="'--&gt;'" th:remove="tag"></div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- 底部 footer -->
  <th:block th:replace="_fragments::footer"></th:block>
  
</body>
</html>
