<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel, HtmlUnknownTag -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head(~{::title})">
  <title>归档</title>
</head>
<body>
  
  <!-- 导航 -->
  <th:block th:replace="_fragments::menu(4)"></th:block>
  
  <!-- 中间内容 -->
  <div class="m-padded-tb-big m-container-small">
    <div class="ui container">
      
      <!-- 头部 -->
      <div class="ui top attached padded segment">
        <div class="ui two column grid">
          <div class="middle aligned column">
            <div class="ui teal header">归档</div>
          </div>
          <div class="right aligned column">
            共 <h2 class="ui orange header m-inline-block m-text-thin">114</h2> 篇博客
          </div>
        </div>
      </div>
      
      <h3 class="ui center aligned header">2023</h3>
      <div class="ui fluid vertical menu">
        <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意联系的清单
          </span>
          <div class="ui teal basic left pointing label m-padded-mini">5月22</div>
          
          <div class="ui orange basic left pointing label m-padded-mini">原创</div>
        </a>
        <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意联系的清单
            <div class="ui teal basic left pointing label m-padded-mini">5月22</div>
          </span>
          <div class="ui orange basic left pointing label m-padded-mini">原创</div>
        </a>
        <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意联系的清单
            <div class="ui teal basic left pointing label m-padded-mini">5月22</div>
          </span>
          <div class="ui orange basic left pointing label m-padded-mini">原创</div>
        </a>
        <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意联系的清单
            <div class="ui teal basic left pointing label m-padded-mini">5月22</div>
          </span>
          <div class="ui orange basic left pointing label m-padded-mini">原创</div>
        </a>
        <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意联系的清单
            <div class="ui teal basic left pointing label m-padded-mini">5月22</div>
          </span>
          <div class="ui orange basic left pointing label m-padded-mini">原创</div>
        </a>
      </div>
      
      <h3 class="ui center aligned header">2022</h3>
      <div class="ui fluid vertical menu">
        <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意联系的清单
            <div class="ui teal basic left pointing label m-padded-mini">5月22</div>
          </span>
          <div class="ui orange basic left pointing label m-padded-mini">原创</div>
        </a>
        <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意联系的清单
            <div class="ui teal basic left pointing label m-padded-mini">5月22</div>
          </span>
          <div class="ui orange basic left pointing label m-padded-mini">原创</div>
        </a>
        <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意联系的清单
            <div class="ui teal basic left pointing label m-padded-mini">5月22</div>
          </span>
          <div class="ui orange basic left pointing label m-padded-mini">原创</div>
        </a>
        <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意联系的清单
            <div class="ui teal basic left pointing label m-padded-mini">5月22</div>
          </span>
          <div class="ui orange basic left pointing label m-padded-mini">原创</div>
        </a>
        <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意联系的清单
            <div class="ui teal basic left pointing label m-padded-mini">5月22</div>
          </span>
          <div class="ui orange basic left pointing label m-padded-mini">原创</div>
        </a>
      </div>
      
      <h3 class="ui center aligned header">2021</h3>
      <div class="ui fluid vertical menu">
        <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意联系的清单
            <div class="ui teal basic left pointing label m-padded-mini">5月22</div>
          </span>
          <div class="ui orange basic left pointing label m-padded-mini">原创</div>
        </a>
        <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意联系的清单
            <div class="ui teal basic left pointing label m-padded-mini">5月22</div>
          </span>
          <div class="ui orange basic left pointing label m-padded-mini">原创</div>
        </a>
        <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意联系的清单
            <div class="ui teal basic left pointing label m-padded-mini">5月22</div>
          </span>
          <div class="ui orange basic left pointing label m-padded-mini">原创</div>
        </a>
        <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意联系的清单
            <div class="ui teal basic left pointing label m-padded-mini">5月22</div>
          </span>
          <div class="ui orange basic left pointing label m-padded-mini">原创</div>
        </a>
        <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意联系的清单
            <div class="ui teal basic left pointing label m-padded-mini">5月22</div>
          </span>
          <div class="ui orange basic left pointing label m-padded-mini">原创</div>
        </a>
      </div>
      
      <h3 class="ui center aligned header">2020</h3>
      <div class="ui fluid vertical menu">
        <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意联系的清单
            <div class="ui teal basic left pointing label m-padded-mini">5月22</div>
          </span>
          <div class="ui orange basic left pointing label m-padded-mini">原创</div>
        </a>
        <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意联系的清单
            <div class="ui teal basic left pointing label m-padded-mini">5月22</div>
          </span>
          <div class="ui orange basic left pointing label m-padded-mini">原创</div>
        </a>
        <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意联系的清单
            <div class="ui teal basic left pointing label m-padded-mini">5月22</div>
          </span>
          <div class="ui orange basic left pointing label m-padded-mini">原创</div>
        </a>
        <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意联系的清单
            <div class="ui teal basic left pointing label m-padded-mini">5月22</div>
          </span>
          <div class="ui orange basic left pointing label m-padded-mini">原创</div>
        </a>
        <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意联系的清单
            <div class="ui teal basic left pointing label m-padded-mini">5月22</div>
          </span>
          <div class="ui orange basic left pointing label m-padded-mini">原创</div>
        </a>
      </div>
    </div>
  </div>
  <br>
  <br>
  
  <!-- 底部 footer -->
  <th:block th:replace="_fragments::footer"></th:block>
  
  <!-- JS 依赖-->
  <th:block th:replace="_fragments::scripts"></th:block>
  
  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide')
    })
  </script>
  
</body>
</html>
