<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel, HtmlUnknownTag -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head(~{::title})">
  <title>归档</title>
</head>
<body>
  
  <!-- 导航 -->
  <th:block th:replace="_fragments::menu(4)"></th:block>
  
  <!-- 中间内容 -->
  <div class="m-padded-tb-big m-container-small">
    <div class="ui container">
      
      <!-- 头部 -->
      <div class="ui top attached padded segment">
        <div class="ui two column grid">
          <div class="middle aligned column">
            <div class="ui teal header">归档</div>
          </div>
          <div class="right aligned column">
            共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${blogCount}"></h2> 篇博客
          </div>
        </div>
      </div>
      
      <th:block th:each="item: ${archiveMap}">
        <h3 class="ui center aligned header" th:text="${item.key}"></h3>
        <div class="ui fluid vertical menu">
          <a class="item" th:each="blog: ${item.value}" th:href="@{/blog/{id}(id=${blog.id})}">
          <span>
            <i class="mini teal circle icon"></i>
            <span th:text="${blog.title}"></span>
          </span>
            <div class="ui teal basic left pointing label m-padded-mini"
                 th:text="${#dates.format(blog.createTime, 'MMMdd')}">5月22
            </div>
            <div class="ui orange basic left pointing label m-padded-mini" th:text="${blog.flag}">原创</div>
          </a>
        </div>
      </th:block>
    </div>
  </div>
  <br>
  <br>
  
  <!-- 底部 footer -->
  <th:block th:replace="_fragments::footer"></th:block>
  
  <!-- JS 依赖-->
  <th:block th:replace="_fragments::scripts"></th:block>
  <script th:src="@{/js/archives.js}"></script>
  
</body>
</html>
