<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel, ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head(~{::title})">
  <title>博客</title>
</head>
<body>
  
  <!-- 导航 -->
  <th:block th:replace="_fragments::menu(1)"></th:block>
  
  <!-- 中间内容 -->
  <div id="waypoint" class="m-padded-tb-big m-container animated fadeIn">
    <div class="ui container" th:object="${blog}">
      
      <!-- 博客头部信息 -->
      <div class="ui top attached segment">
        <div class="ui horizontal link list">
          <div class="item">
            <img src="https://picsum.photos/id/1/100/100" alt="" class="ui avatar image">
            <div class="content"><a class="header" href="#" th:text="*{user.nickname}"></a></div>
          </div>
          <div class="item">
            <i class="calendar icon"></i>
            <span th:text="*{#dates.format(createTime, 'yyyy-MM-dd')}"></span>
          </div>
          <div class="item">
            <i class="eye icon"></i>
            <span th:text="*{views}"></span>
          </div>
        </div>
      </div>
      
      <!-- 图片区域 -->
      <div class="ui attached segment">
        <img alt="" class="ui fluid rounded image" src="https://picsum.photos/id/1/800/450" th:src="*{firstPicture}">
      </div>
      
      <!-- 内容 -->
      <div class="ui attached padded segment">
        <div class="ui right aligned basic segment">
          <div class="ui orange label" th:text="*{flag}"></div>
        </div>
        <h1 class="ui centered header" th:text="*{title}"></h1>
        
        <!-- 文章内容 -->
        <div class="typo typo-selection js-toc-content m-padded-lr-responsive m-padded-tb-large line-numbers"
             id="content"
             th:utext="*{content}"></div>
        
        <!-- 标签 -->
        <div class="m-padded-lr-responsive m-padded-tb-large">
          <div class="ui basic teal left pointing label" th:each="tag: *{tags}" th:text="${tag.name}"></div>
        </div>
        
        <!-- 赞赏 -->
        <div class="ui center aligned basic segment">
          <button id="payButton" class="ui orange basic circular button">赞赏</button>
        </div>
      </div>
      
      <!-- 博客信息 -->
      <div class="ui attached positive message">
        <div class="ui middle aligned grid">
          <div class="eleven wide column">
            <ul class="list">
              <li>作者：
                <span th:text="*{user.nickname}"></span>
                <a href="" target="_blank" th:href="@{/about}">（联系作者）</a>
              </li>
              <li>发表时间：<span th:text="*{#dates.format(updateTime, 'yyyy-MM-dd')}"></span></li>
              <li>版权声明：自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</li>
              <li>公众号转载：请在文末添加作者公众号二维码</li>
            </ul>
          </div>
          <div class="five wide column">
            <img th:src="@{/images/wechat.png}" src="../static/images/wechat.png" alt=""
                 class="ui right floated rounded bordered image"
                 style="width: 110px">
          </div>
        </div>
      </div>
      
      <!-- 留言区域 -->
      <div class="ui bottom attached segment">
        <!-- 留言区域列表 -->
        <div class="ui teal segment" id="comment-container">
          <div th:fragment="commentList">
            <div class="ui threaded comments" style="max-width: 100%">
              <h3 class="ui dividing header">评论</h3>
              <!-- 评论列表 -->
              <div class="comment" th:each="comment: ${comments}">
                <a class="avatar">
                  <img alt="" src="https://picsum.photos/id/1/100/100" th:src="@{${comment.avatar}}">
                </a>
                <div class="content">
                  <a class="author">
                    <span th:text="${comment.nickname}"></span>
                    <div class="ui mini basic teal left pointing label m-padded-mini"
                         th:if="${comment.adminComment}">博主
                    </div>
                  </a>
                  <div class="metadata">
                    <span class="date" th:text="${#dates.format(comment.createTime, 'yyyy-MM-dd HH:mm')}"></span>
                  </div>
                  <div class="text" th:text="${comment.content}"></div>
                  <div class="actions">
                    <a class="reply"
                       data-comment-id="1" data-comment-nickname="Matt" onclick="reply(this)"
                       th:attr="data-comment-id=${comment.id}, data-comment-nickname=${comment.nickname}">回复</a>
                  </div>
                </div>
                <!-- 嵌套评论 -->
                <div class="comments" th:if="${#arrays.length(comment.replyComments)} > 0">
                  <div class="comment" th:each="reply: ${comment.replyComments}">
                    <a class="avatar">
                      <img alt="" src="https://picsum.photos/id/1/100/100" th:src="@{${reply.avatar}}">
                    </a>
                    <div class="content">
                      <a class="author">
                        <span th:text="${reply.nickname}"></span>
                        <div class="ui mini basic teal left pointing label m-padded-mini"
                             th:if="${reply.adminComment}">博主
                        </div>
                        <span class="m-teal" th:text="|@${reply.parentComment.nickname}|"></span>
                      </a>
                      <div class="metadata">
                        <span class="date" th:text="${#dates.format(reply.createTime, 'yyyy-MM-dd HH:mm')}"></span>
                      </div>
                      <div class="text" th:text="${reply.content}"></div>
                      <div class="actions">
                        <a class="reply"
                           data-comment-id="1" data-comment-nickname="Matt" onclick="reply(this)"
                           th:attr="data-comment-id=${reply.id}, data-comment-nickname=${reply.nickname}">回复</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui form" id="comment-form">
          <input name="blog.id" th:value="${id}" type="hidden">
          <input name="parentComment.id" type="hidden" value="-1">
          <div class="field">
            <textarea name="content" placeholder="请留下友善的评论"></textarea>
          </div>
          <div class="fields">
            <div class="field m-mobile-wide m-margin-bottom-small">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input name="nickname"
                       placeholder="姓名" th:value="${session.user} != null ? ${session.user.nickname} : ''" type="text">
              </div>
            </div>
            <div class="field m-mobile-wide m-margin-bottom-small">
              <div class="ui left icon input">
                <i class="mail icon"></i>
                <input name="email"
                       placeholder="邮箱" th:value="${session.user} != null ? ${session.user.email} : ''" type="text">
              </div>
            </div>
            <div class="field m-mobile-wide m-margin-bottom-small">
              <button class="ui teal button m-mobile-wide" id="comment-btn" type="button">
                <i class="edit icon"></i>发布
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- 工具条 -->
  <div id="toolbar" class="m-padded m-fixed m-right-bottom" style="display: none">
    <div class="ui vertical icon buttons">
      <button type="button" class="ui toc teal button">目录</button>
      <a href="#comment-container" type="button" class="ui teal button">留言</a>
      <button class="ui wechat-b icon button"><i class="mobile icon big"></i></button>
      <div id="to-top-button" type="button" class="ui icon button"><i class="chevron up icon"></i></div>
    </div>
  </div>
  
  <!-- 弹出赞赏信息 -->
  <div class="ui payQR flowing popup transition hidden">
    <div class="ui orange basic label">
      <div class="ui images" style="font-size: inherit">
        <div class="image">
          <img th:src="@{/images/wechat.png}" src="../static/images/wechat.png" alt="" class="ui rounded bordered image"
               style="width: 120px">
          <div>支付宝</div>
        </div>
        <div class="image">
          <img th:src="@{/images/wechat.png}" src="../static/images/wechat.png" alt="" class="ui rounded bordered image"
               style="width: 120px">
          <div>微信</div>
        </div>
      </div>
    </div>
  </div>
  <div id="qrcode" class="ui wechat-qr flowing popup transition hidden " style="width: max-content;">
    <!-- <img src="static/images/wechat.png" alt="" class="ui rounded image" style="width: 110px"> -->
  </div>
  <div class="ui toc-container flowing popup transition hidden" style="width: 300px">
    <ol class="js-toc"></ol>
  </div>
  <br>
  <br>
  
  <!-- 底部 footer -->
  <th:block th:replace="_fragments::footer"></th:block>
  
  <!-- JS 依赖-->
  <th:block th:replace="_fragments::scripts"></th:block>
  <script th:inline="javascript" th:src="@{/js/blog.js}"></script>

</body>
</html>
