name: Dependency Graph

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
          cache-dependency-path: 'codicefun-blog-api/pom.xml'
      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@v5.0.0
        with:
          directory: ${{ github.workspace }}/codicefun-blog-api
